# C compiled binaries:
*.o
*.out
*.a

# Valgrind:
*.supp
*.dSYM

# Miscellaneous:
*.log
*.txt

webserv

# VS Code:
/.vscode/

# Linux:
.directory
.Trash-*

# Mac OS:
.DS_Store

# Testers
ubuntu_cgi_tester
ubuntu_tester

# Folders
files

